@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-playfair: "Playfair Display", serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Playfair+Display:wght@600;700&display=swap');